<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.sym.mapper.SymDormitoryBalanceMapper">
    
    <resultMap type="SymDormitoryBalance" id="SymDormitoryBalanceResult">
        <result property="id"    column="id"    />
        <result property="dormitoryId"    column="dormitory_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="waterFee"    column="water_fee"    />
        <result property="electricityFee"    column="electricity_fee"    />
        <result property="isOverdue"    column="is_overdue"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectSymDormitoryBalanceVo">
        select id, dormitory_id, room_number, water_fee, electricity_fee, is_overdue, create_time, update_time, is_deleted from sym_dormitory_balance
    </sql>

    <select id="selectSymDormitoryBalanceList" parameterType="SymDormitoryBalance" resultMap="SymDormitoryBalanceResult">
        <include refid="selectSymDormitoryBalanceVo"/>
        <where>  
            <if test="dormitoryId != null "> and dormitory_id = #{dormitoryId}</if>
            <if test="roomNumber != null  and roomNumber != ''"> and room_number = #{roomNumber}</if>
            <if test="waterFee != null "> and water_fee = #{waterFee}</if>
            <if test="electricityFee != null "> and electricity_fee = #{electricityFee}</if>
            <if test="isOverdue != null "> and is_overdue = #{isOverdue}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectSymDormitoryBalanceById" parameterType="Long" resultMap="SymDormitoryBalanceResult">
        <include refid="selectSymDormitoryBalanceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSymDormitoryBalance" parameterType="SymDormitoryBalance" useGeneratedKeys="true" keyProperty="id">
        insert into sym_dormitory_balance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dormitoryId != null">dormitory_id,</if>
            <if test="roomNumber != null and roomNumber != ''">room_number,</if>
            <if test="waterFee != null">water_fee,</if>
            <if test="electricityFee != null">electricity_fee,</if>
            <if test="isOverdue != null">is_overdue,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dormitoryId != null">#{dormitoryId},</if>
            <if test="roomNumber != null and roomNumber != ''">#{roomNumber},</if>
            <if test="waterFee != null">#{waterFee},</if>
            <if test="electricityFee != null">#{electricityFee},</if>
            <if test="isOverdue != null">#{isOverdue},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateSymDormitoryBalance" parameterType="SymDormitoryBalance">
        update sym_dormitory_balance
        <trim prefix="SET" suffixOverrides=",">
            <if test="dormitoryId != null">dormitory_id = #{dormitoryId},</if>
            <if test="roomNumber != null and roomNumber != ''">room_number = #{roomNumber},</if>
            <if test="waterFee != null">water_fee = #{waterFee},</if>
            <if test="electricityFee != null">electricity_fee = #{electricityFee},</if>
            <if test="isOverdue != null">is_overdue = #{isOverdue},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSymDormitoryBalanceById" parameterType="Long">
        update sym_dormitory_balance set is_deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteSymDormitoryBalanceByIds" parameterType="String">
        update sym_dormitory_balance set is_deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>