<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.sym.mapper.SymDormitoryKeeperMapper">
    
    <resultMap type="SymDormitoryKeeper" id="SymDormitoryKeeperResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="gender"    column="gender"    />
        <result property="phone"    column="phone"    />
        <result property="residenceHallId"    column="residence_hall_id"    />
        <result property="hireDate"    column="hire_date"    />
        <result property="duties"    column="duties"    />
        <result property="supervisorId"    column="supervisor_id"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectSymDormitoryKeeperVo">
        select id, name, gender, phone, residence_hall_id, hire_date, duties, supervisor_id, description, create_time, update_time, is_deleted from sym_dormitory_keeper
    </sql>

    <select id="selectSymDormitoryKeeperList" parameterType="SymDormitoryKeeper" resultMap="SymDormitoryKeeperResult">
        <include refid="selectSymDormitoryKeeperVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="residenceHallId != null "> and residence_hall_id = #{residenceHallId}</if>
            <if test="hireDate != null "> and hire_date = #{hireDate}</if>
            <if test="duties != null  and duties != ''"> and duties = #{duties}</if>
            <if test="supervisorId != null "> and supervisor_id = #{supervisorId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectSymDormitoryKeeperById" parameterType="Long" resultMap="SymDormitoryKeeperResult">
        <include refid="selectSymDormitoryKeeperVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSymDormitoryKeeper" parameterType="SymDormitoryKeeper" useGeneratedKeys="true" keyProperty="id">
        insert into sym_dormitory_keeper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="residenceHallId != null">residence_hall_id,</if>
            <if test="hireDate != null">hire_date,</if>
            <if test="duties != null">duties,</if>
            <if test="supervisorId != null">supervisor_id,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="residenceHallId != null">#{residenceHallId},</if>
            <if test="hireDate != null">#{hireDate},</if>
            <if test="duties != null">#{duties},</if>
            <if test="supervisorId != null">#{supervisorId},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateSymDormitoryKeeper" parameterType="SymDormitoryKeeper">
        update sym_dormitory_keeper
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="residenceHallId != null">residence_hall_id = #{residenceHallId},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="duties != null">duties = #{duties},</if>
            <if test="supervisorId != null">supervisor_id = #{supervisorId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSymDormitoryKeeperById" parameterType="Long">
        update sym_dormitory_keeper set is_deleted = 1 where id = #{id}
    </delete>

    <delete id="deleteSymDormitoryKeeperByIds" parameterType="String">
        update sym_dormitory_keeper set is_deleted = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>